<!doctype html>
<html lang="en">

<head>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
       <title>Bootstrap example</title>
       <style>
              .bs-example {
                     margin: 70px;
              }
              .Header {
                     background-color: greenyellow;
                     height: 70px;
              }
              .HeaderText {
                     font-size: 30px;
                     padding-top: 10px;
                     margin-left: 735px;
              }
       </style>
</head>



<body>

       <div class="container-fluid Header">
              <h1 class="HeaderText">Result Management System</h1>
       </div>
       <div class="bs-example">
              <div class="container">
                     <div class="row">
                            <div class="col-lg-12 bg-light text-center">

                                   <div class="container p-3 my-3 bg-dark text-white">
                                          <h6>Login Form</h6>
                                          <a href="/TeacherloginForm" class="btn btn-success">Teacher</a>
                                          <a href="/StudentloginForm" class="btn btn-success">Student</a>
                                   </div>

                            </div>
                     </div>
              </div>
       </div>
</body>

</html>